/* .caja {
  display: block;
  width: 38px;
  height: 38px;
   float: left;
  color: blue;
  text-align: center;
  line-height: 40px;
}

#general {
  width: 1200px;
  border: 1px solid #ccc;
  margin: 0px auto;
  margin-top: 20px;
}

#contenido {
  width: 90%;
  border: 1px solid green;
  float: right;
}

#lateral {
  width: 10%;
  border: 1px solid red;
  float: left;
}
.clearfix {
  float: none;
  clear: both;
}

footer {
  width: 100%;
  background-color: greenyellow;
  padding: 10px;
  text-align: center;
  line-height: 10px;
  color: white;
} */

/************DRAG AND DROP*********/
.list-container {
  height: 250px;
  border: 1px solid black;
}

.caja {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.caja:active {
  /* border: 5px solid red; */
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
