<button
  type="button"
  class="btn btn-outline-primary m-2"
  routerLink="/css-grid"
>
  Week
</button>

<button class="btn btn-primary m-2">
  <i class="fas fa-plus-circle bg-primary"></i> New Vessel
</button>

<div class="layout">
  <div class="day-box text-center">DAY</div>
  <div class="shift-box text-center">SHIFT</div>
  <div *ngFor="let meter of meters; let i = index" class="meter-box">
    {{ (i + 1) * 100 }}
  </div>
  <div class="today-box" *ngFor="let t of today">
    {{ t.dia }}
  </div>

  <div
    *ngFor="let hour of hours; let i = index"
    class="hours-box-{{ i + 1 }} text-center"
  >
    {{ hour }}
  </div>

  <!-- contenedor-->
  <div id="container" *ngFor="let c of container; let i = index" cdkDrag></div>
  <!-- fin contenedor-->
  <div
    style="
      background-color: red;
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 3;
      grid-column-end: 18;
    "
  ></div>

  <div
    style="
      background-color: green;
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 3;
      grid-column-end: 6;
    "
  ></div>

  <div
    style="
      background-color: blue;
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 5;
      grid-column-end: 9;
    "
  ></div>

  <div
    style="
      background-color: pink;
      grid-row-start: 9;
      grid-row-end: 15;
      grid-column-start: 3;
      grid-column-end: 8;
    "
  ></div>
</div>

<!-- contenedor-->
<!-- <div id="container" *ngFor="let c of container; let i = index" cdkDrag></div> -->
<!-- fin contenedor-->

<!-- PANEL DRAG AND DROP-->

<!-- <div class="example-boundary-hector">
    <div
      class="example-box"
      id="hector-{{ i + 1 }}"
      cdkDragBoundary=".example-boundary-hector"
      cdkDrag
      title="{{ vessel.title }}"
      *ngFor="let vessel of vessels; let i = index"
      [ngStyle]="{ 'background-color': vessel.color }"
      [cdkDragFreeDragPosition]="vessel.dragPosition"
      [style.width.px]="vessel.width"
      [style.height.px]="vessel.heigth"
      (cdkDragEnded)="dragEnd($event, i)"
    >
      {{ vessel.name }}
      <p class="badge badge-info mr-2">
        <i
          class="fas fa-arrow-alt-circle-left pr-2"
          (click)="plusWidth(i, $event)"
        ></i>
        <i
          class="fas fa-arrow-alt-circle-right"
          (click)="minusWidth(i, $event)"
        ></i>
      </p>

      <p class="badge badge-primary">
        <i
          class="fas fa-arrow-alt-circle-up mr-2"
          (click)="plusHeight(i, $event)"
          bg-white
        ></i>
        <i
          class="fas fa-arrow-alt-circle-down"
          (click)="minisHeight(i, $event)"
          bg-white
        ></i>
      </p>
    </div>
  </div> -->

<!-- DRAG ITEM-->

<!-- <div class="viewport" cdkDrop>
  <div
    style="background-color: red;"
    #item
    class="item"
    cdkDrag
    (cdkDragEnded)="dragEnd($event)"
    [style.top.px]="initialPosition.y"
    [style.left.px]="initialPosition.x"
  >
    anything
  </div>
</div> -->

<!--- FUERA DEL LAYOUT-->
<!-- <div class="layout2 mt-5">
  <div
    class="example-box"
    cdkDrag
    [cdkDragFreeDragPosition]="vessel.dragPosition"
    (cdkDragEnded)="dragEnd($event)"
    (click)="changePosition(i)"
    style="
      background-color: blue;
      color: white;

      grid-column: 18;
    "
    *ngFor="let vessel of vessels; let i = index"
    [ngStyle]="{ 'background-color': vessel.color }"
    [style.width.px]="vessel.width"
    [style.height.px]="vessel.heigth"
  >
    {{ vessel.name }}
  </div>
</div> -->

<!-- <div class="parent"> -->
<!-- <span
    id="draggableSpan"
    draggable="true"
    style="background-color: blue;"
    (ondragstart)="onDragStart($event)"
  >
    draggable
  </span>
  <span style="background-color: green;"> dropzone </span>
</div>
-->
<!-- <div
  mwlResizable
  [enableGhostResize]="true"
  [resizeEdges]="{ bottom: true, right: true, top: true, left: true }"
  (resized)="onResized($event)"
  style="background-color: aqua;"
  draggable="true"
>
  ELEMNEN
</div> -->
<!-- [cdkDragFreeDragPosition]="vessel.dragPosition" -->
<!-- (click)="changePosition(i)" -->
<!-- 
<div class="viewport" cdkDrop>
  <div
    #item
    class="item"
    cdkDrag
    (cdkDragEnded)="dragEnd($event)"
    [style.top.px]="initialPosition.y"
    [style.left.px]="initialPosition.x"
  >
    anything
  </div>
</div> -->

<!-- DRAG & DROP & RESIZE ELEMENTS-->
<!-- <div
  id="chat"
  [style.top.px]="y"
  [style.left.px]="x"
  [style.width.px]="width"
  [style.height.px]="height"
  (mousedown)="onWindowPress($event)"
  (mousemove)="onWindowDrag($event)"
>
  <div
    (mousedown)="onCornerClick($event, topLeftResize)"
    id="chat-top-left-resize"
    class="chat-corner-resize"
  ></div>
  <div
    (mousedown)="onCornerClick($event, topRightResize)"
    id="chat-top-right-resize"
    class="chat-corner-resize"
  ></div>
  <div
    (mousedown)="onCornerClick($event, bottomLeftResize)"
    id="chat-bottom-left-resize"
    class="chat-corner-resize"
  ></div>
  <div
    (mousedown)="onCornerClick($event, bottomRightResize)"
    id="chat-bottom-right-resize"
    class="chat-corner-resize"
  ></div>
</div> -->

<!-- DRAG & DROP CONNECTING SORTING-->

<!-- <div
    class="container-drag-drop"
    style="grid-column: 3/18; grid-row: 2/25; background-color: salmon;"
  >
    <div
      class="example-list-h"
      style="grid-row: 2/3; grid-column: 3/18; background-color: yellow;"
      cdkDropList
      cdkDropListOrientation="horizontal"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let item of todo" cdkDrag class="example-box-h">
        {{ item }}
      </div>
    </div>

    <div
      class="example-list-h"
      style="grid-row: 2/3; grid-column: 3/18; background-color: yellow;"
      cdkDropList
      cdkDropListOrientation="horizontal"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      (cdkDropListDropped)="drop($event)"
    >
      <div *ngFor="let item of done" cdkDrag class="example-box-h">
        {{ item }}
      </div>
    </div>
  </div>
</div> -->

<!-- END  DRAG & DROP CONNECTING SORTING -->
