:root {
  --amarillo: yellow;
  --blue: #007bff;
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.layout {
  /* border: 1px solid #ccc; */
  display: grid;
  grid-template-columns: 5fr 5fr repeat(15, 3fr);
  grid-template-rows: 3fr repeat(23, 0.5fr);
}

.layout2 {
  /* border: 1px solid #ccc; */
  border: 1px solid var(--blue);
  border-radius: 5px;
  display: flex;
}

#hector {
  display: flex;
  flex-direction: column;
}

#container {
  border: 1px dashed #ccc;
}

.shift-box {
  background-color: var(--blue);
  color: white;
  text-align: center;
  font-weight: bold;
  line-height: 90px;
  padding: 15px 0px 15px 0px;
}

.day-box {
  background-color: var(--blue);
  color: white;
  text-align: center;
  line-height: 90px;
  font-weight: bold;
  padding: 15px 0px 15px 0px;
  border-right: 1px solid white;
}

.meter-box {
  background-color: var(--blue);
  padding: 15px 0px 15px 0px;
  text-align: center;
  line-height: 90px;
  font-weight: bold;
  color: white;
  border-left: 1px solid white;
  margin-bottom: 0px;
}

/** RESIZE ELEMENT'S **/
mwlResizable {
  box-sizing: border-box;
}

/** FIN RESIZE ELEMENT'S **/

/** TODAY BOX **/

.today-box {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  grid-row: 2/25;
}

/** TRAMO DE HORAS **/
.hours-box-1,
.hours-box-2,
.hours-box-3,
.hours-box-4,
.hours-box-5,
.hours-box-6,
.hours-box-7,
.hours-box-8,
.hours-box-9,
.hours-box-10,
.hours-box-11,
.hours-box-12,
.hours-box-13,
.hours-box-14,
.hours-box-15,
.hours-box-16,
.hours-box-17,
.hours-box-18,
.hours-box-19,
.hours-box-20,
.hours-box-21,
.hours-box-22,
.hours-box-23 {
  background-color: white;
  text-align: center;
  color: var(--blue);
  font-weight: bold;
  line-height: 35px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.hours-box-1 {
  grid-row: 2/3;
  border-top: 1px solid #ccc;
}

.hours-box-2 {
  grid-row: 3/4;
}
.hours-box-3 {
  grid-row: 4/5;
}
.hours-box-4 {
  grid-row: 5/6;
}
.hours-box-5 {
  grid-row: 6/7;
}
.hours-box-6 {
  grid-row: 7/8;
}
.hours-box-7 {
  grid-row: 8/9;
}
.hours-box-8 {
  grid-row: 9/10;
}
.hours-box-9 {
  grid-row: 10/11;
}
.hours-box-10 {
  grid-row: 11/12;
}
.hours-box-11 {
  grid-row: 12/13;
}
.hours-box-12 {
  grid-row: 13/14;
}
.hours-box-13 {
  grid-row: 14/15;
}
.hours-box-14 {
  grid-row: 15/16;
}
.hours-box-15 {
  grid-row: 16/17;
}
.hours-box-16 {
  grid-row: 17/18;
}
.hours-box-17 {
  grid-row: 18/19;
}
.hours-box-18 {
  grid-row: 19/20;
}
.hours-box-19 {
  grid-row: 20/21;
}
.hours-box-20 {
  grid-row: 21/22;
}
.hours-box-21 {
  grid-row: 22/23;
}
.hours-box-22 {
  grid-row: 23/24;
}

.hours-box-23 {
  grid-row: 24/25;
}

/*** DRAG & DROP **/
.vessel-box,
.vessel-box-1,
.vessel-box-2,
.vessel-box-2,
.vessel-box-3,
.vessel-box-4,
.vessel-box-5,
.vessel-box-6,
.vessel-box-7,
.vessel-box-8,
.vessel-box-9 {
  border: solid 1px #ccc;
  color: white;
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.vessel-box-1 {
  background: red;
  width: 28%;
}
.vessel-box-2 {
  background: green;
  width: 14%;
}
.vessel-box-3 {
  background: var(--blue);
  width: 14%;
}
.vessel-box-4 {
  background: pink;
  width: 14%;
}
.vessel-box-5 {
  background: purple;
  width: 30%;
}

.vessel-box-6 {
  background: yellow;
}
.vessel-box-7 {
  background: orange;
}

.vessel-box-8 {
  background: brown;
}

.vessel-box-9 {
  background: black;
}

.vessel-box:active,
.vessel-box-1:active,
.vessel-box-2:active,
.vessel-box-2:active,
.vessel-box-3:active,
.vessel-box-4:active,
.vessel-box-5:active,
.vessel-box-6:active,
.vessel-box-7:active,
.vessel-box-8:active,
.vessel-box-9:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.boundary-1,
.boundary-2,
.boundary-3,
.boundary-4,
.boundary-5,
.boundary-6,
.boundary-7,
.boundary-8,
.boundary-9,
.boundary-10,
.boundary-11,
.boundary-12,
.boundary-13,
.boundary-14,
.boundary-15,
.boundary-16,
.boundary-17,
.boundary-18,
.boundary-19,
.boundary-20,
.boundary-21 {
  grid-column: 3/22;
  max-width: 100%;
  border: dotted #ccc 2px;
}

.boundary-1 {
  grid-row: 2;
}

.boundary-2 {
  grid-row: 3;
}

.boundary-3 {
  grid-row: 4;
}

.boundary-4 {
  grid-row: 5;
}

.boundary-5 {
  grid-row: 6;
}

.boundary-6 {
  grid-row: 7;
}

.boundary-7 {
  grid-row: 8;
}

.boundary-8 {
  grid-row: 9;
}

.boundary-9 {
  grid-row: 10;
}
.boundary-10 {
  grid-row: 11;
}
.boundary-11 {
  grid-row: 12;
}
.boundary-12 {
  grid-row: 13;
}
.boundary-13 {
  grid-row: 14;
}
.boundary-14 {
  grid-row: 15;
}
.boundary-15 {
  grid-row: 16;
}
.boundary-16 {
  grid-row: 17;
}
.boundary-17 {
  grid-row: 18;
}
.boundary-18 {
  grid-row: 19;
}
.boundary-19 {
  grid-row: 20;
}
.boundary-20 {
  grid-row: 21;
}
.boundary-21 {
  grid-row: 22;
}

/*** LISTA COMPARTIDA DRAG & DROP **/

/* .contenedor {
  grid-column: 3/10;
  grid-row: 2/25;
  background-color: aquamarine;
} */
.example-container {
  width: 400px;
  max-width: 50%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.example-container-1 {
  grid-row: 3/22;
  grid-column: 3/6;
  background-color: aquamarine;
}

.example-container-2 {
  grid-row: 3/6;
  grid-column: 6/9;
  background-color: bisque;
}

.example-list-1,
.example-list-2 {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box-1 {
  background-color: red;
}

.example-box-2 {
  background-color: green;
}

.example-box-1,
.example-box-2 {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  /* background: white; */
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}

.example-list {
  width: 1000px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 10px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.example-boundary-hector {
  grid-column: 3/18;
  grid-row: 2/25;
  /* width: 400px;
  height: 400px; */
  background-color: #c2ecfc;
  max-width: 100%;
  border: dotted #ccc 2px;
}

/** DRAG & DROP RESIZE ELEMENTS**/
#chat {
  position: fixed;
  background-color: black;
  opacity: 0.8;
}
.chat-corner-resize {
  position: absolute;
  width: 10px;
  height: 10px;
}
#chat-top-left-resize {
  top: 0px;
  left: 0px;
}
#chat-top-right-resize {
  top: 0px;
  right: 0px;
}
#chat-bottom-left-resize {
  bottom: 0px;
  left: 0px;
}
#chat-bottom-right-resize {
  bottom: 0px;
  right: 0px;
}

/** END DRAG & DROP RESIZE ELEMENTS**/

/** SHORTING ELEMENTS **/
.container-drag-drop {
  width: 100%;
  max-width: 100%;
}

.example-list-h {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box-h {
  padding: 8px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

/* .example-list {
  border: solid 1px #ccc;
  min-height: 36px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 2px 1px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
} */

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.connecting {
  grid-row: 2/3;
  grid-column: 3/5;
}
