<!--<canvas #mycanvas></canvas>-->
<!--<canvas #canvas>-->
<!--</canvas>-->

<button class="btn btn-primary" (click)="clearCanvas(canvas)"> Limpiar Canvas</button>

<div class="container">
  <div class="row">
    <div class="col-sm">
      1<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      2<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      3<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      4<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      5<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      6<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      7<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      8<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      9<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      10<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      11<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      12<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      13<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      14<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      15<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      16<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      18<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      19<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      20<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      21<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      22<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      23<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      24<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      25<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      26<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      27<i class="fas fa-square text-primary"></i>
    </div>
    <div class="col-sm">
      28<i class="fas fa-square text-primary"></i>
    </div>
  </div>
</div>
<canvas #canvas>
</canvas>
<div class="col">
  <div class="col-sm">100</div>
</div>



