<!-- <button class="btn btn-primary m-2" (click)="newDiv()">
  <i class="fas fa-plus-circle bg-primary"></i> New Vessel
</button> -->

<div class="layout">
  <div class="day-box text-center">DAY</div>
  <div class="shift-box text-center">SHIFT</div>
  <div *ngFor="let meter of meters; let i = index" class="meter-box">
    {{ (i + 1) * 100 }}
  </div>
  <div class="today-box" *ngFor="let t of today">
    {{ t.dia }}
  </div>

  <div
    *ngFor="let hour of hours; let i = index"
    class="hours-box-{{ i + 1 }} text-center"
  >
    {{ hour }}
  </div>

  <!-- contenedor-->
  <!-- <div id="container" *ngFor="let c of container; let i = index"></div> -->
  <!-- fin contenedor-->

  <!-- CONTENEDOR CAJAS BARCOS-->
  <!-- <div id="grid-inside-grid">
    <div class="grids" *ngFor="let c of container; let i = index">
      {{ i + 1 }}
    </div>
  </div> -->
  <!-- FIN CONTENEDOR CAJAS BARCOS-->

  <div class="example-boundary-hector">
    <div
      class="example-box"
      id="hector-{{ i + 1 }}"
      cdkDragBoundary=".example-boundary-hector"
      cdkDrag
      title="{{ vessel.title }}"
      *ngFor="let vessel of vessels; let i = index"
      [ngStyle]="{ 'background-color': vessel.color }"
      [cdkDragFreeDragPosition]="vessel.dragPosition"
      [style.width.px]="vessel.width"
      [style.height.px]="vessel.heigth"
      (cdkDragEnded)="dragEnd($event, i)"
    >
      {{ vessel.name }}
      <p class="badge badge-info mr-2">
        <i
          class="fas fa-arrow-alt-circle-left pr-2"
          (click)="plusWidth(i, $event)"
        ></i>
        <i
          class="fas fa-arrow-alt-circle-right"
          (click)="minusWidth(i, $event)"
        ></i>
      </p>

      <p class="badge badge-primary">
        <i
          class="fas fa-arrow-alt-circle-up mr-2"
          (click)="plusHeight(i, $event)"
          bg-white
        ></i>
        <i
          class="fas fa-arrow-alt-circle-down"
          (click)="minisHeight(i, $event)"
          bg-white
        ></i>
      </p>
    </div>
  </div>
</div>
