<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
      <a routerLink="/calendar" routerLinkActive="active">
        <div class="btn btn-outline-primary ml-2">
          Calendar
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
      <!-- <div class="btn btn-outline-primary ml-2" (click)="showMarkerChange()">
        Show Marker
      </div> -->
    </div>
  </div>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [dayStartHour]="dayStartHour"
    [dayEndHour]="dayEndHour"
    [currentTimeMarkerTemplate]="currentTimeMarkerTemplate"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [currentTimeMarkerTemplate]="currentTimeMarkerTemplate"
  >
  </mwl-calendar-day-view>
</div>

<!-- <div class="card mt-3 bg-primary ">
  <h5 class="card-header text-white text-center"></h5>
</div> -->

<!-- TABLA DE MATERIAL DESIGN -->
<mat-form-field class="mt-3">
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Filter"
  />
</mat-form-field>
<i class="fas fa-edit"></i>
<table
  mat-table
  [dataSource]="dataSource"
  matSort
  class="mat-elevation-z8 table-striped"
>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Vessel Column -->
  <ng-container matColumnDef="vessel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>VESSEL</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Scale Column -->
  <ng-container matColumnDef="scale">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SCALE</th>
    <td mat-cell *matCellDef="let element">{{ element.scale }}</td>
  </ng-container>

  <!-- State Column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>STATE</th>
    <td
      class="p-2"
      style="color:white;text-align: center;"
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
        'text-success': element.state == 'Autorized',
        'text-danger': element.state != 'Autorized'
      }"
    >
      {{ element.state | uppercase }}
    </td>
  </ng-container>

  <!-- Arrival Column -->
  <ng-container matColumnDef="arrival">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ARRIVAL</th>
    <td mat-cell *matCellDef="let element">
      {{ element.start | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <!-- Arrival Hour Column -->
  <ng-container matColumnDef="arrivalHour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HOUR</th>
    <td mat-cell *matCellDef="let element">
      {{ element.end | date: 'HH:mm' }}
    </td>
  </ng-container>

  <!-- Departure Column -->
  <ng-container matColumnDef="departure">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DEPARTURE</th>
    <td mat-cell *matCellDef="let element">
      {{ element.end | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>

  <!-- Departure Hour Column -->
  <ng-container matColumnDef="departureHour">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>HOUR</th>
    <td mat-cell *matCellDef="let element">
      {{ element.end | date: 'HH:mm' }}
    </td>
  </ng-container>

  <!-- Orientation Column -->
  <ng-container matColumnDef="orientation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ORIENTATION</th>
    <td mat-cell *matCellDef="let element" class="text-center">
      <i
        class="fas fa-arrow-alt-circle-left fa-2x text-primary"
        *ngIf="element.bow"
      ></i>

      <i
        class="fas fa-arrow-alt-circle-right fa-2x text-secondary"
        *ngIf="!element.bow"
      ></i>
    </td>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>COLOR</th>
    <td mat-cell *matCellDef="let element">
      <i
        class="fas fa-ship fa-2x"
        [ngStyle]="{ color: element.color.primary }"
      ></i>
    </td>
  </ng-container>

  <!-- RegularLine Column -->
  <ng-container matColumnDef="regularLine">
    <th
      style="text-align: center"
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
    >
      REGULAR LINE
    </th>
    <td mat-cell *matCellDef="let element">{{ element.regularLine }}</td>
  </ng-container>

  <!-- Locode Column -->
  <ng-container matColumnDef="locode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>LOCODE</th>
    <td mat-cell *matCellDef="let element">{{ element.locode | uppercase }}</td>
  </ng-container>

  <!-- Length Column -->
  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>LENGTH</th>
    <td mat-cell *matCellDef="let element">{{ element.length }}</td>
  </ng-container>

  <!-- Beam Column -->
  <ng-container matColumnDef="beam">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>BEAM</th>
    <td mat-cell *matCellDef="let element">{{ element.beam }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [length]="100"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
>
</mat-paginator>

<!-- FIN TABLA DE MATERIAL DESIGN -->

<!-- EDIT EVENTS -->
<h3 class="mt-4">
  Edit events
  <button class="btn btn-primary pull-right" (click)="addEvent()">
    Add new
  </button>
  <div class="clearfix"></div>
</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Vessel</th>
        <th>Vessel Code</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Actual Arrival</th>
        <th>Actual Departure</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.scale"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.end"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- FIN EDIT EVENTS-->

<!-- EVENTO DRAG AND DROP-->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>

<!-- ShowMarker-->
<ng-template
  #currentTimeMarkerTemplate
  let-columnDate="columnDate"
  let-dayStartHour="dayStartHour"
  let-dayStartMinute="dayStartMinute"
  let-dayEndHour="dayEndHour"
  let-dayEndMinute="dayEndMinute"
  let-isVisible="isVisible"
  let-topPx="topPx"
>
  <div
    class="cal-current-time-marker"
    *ngIf="isVisible && showMarker"
    [style.top.px]="topPx"
  ></div>
</ng-template>

<!-- TABLA BOOTSTRAP -->

<!-- IMPORTANTE: HAY QUE IMPORTAR ESTO:  "./node_modules/flatpickr/dist/flatpickr.css" ,
   en el archivo angular.json -->
<!-- <table class="table">
  <thead class="thead-light">
    <tr>
      <th></th>
      <th scope="col">Vessel</th>
      <th scope="col">Scale</th>
      <th scope="col">State</th>
      <th scope="col">Arrival</th>
      <th scope="col">Departure</th>
      <th scope="col">Arrival Hour</th>
      <th scope="col">Departure Hour</th>
      <th scope="col">Orientation</th>
      <th scope="col">Color</th>
      <th scope="col">Regular Line</th>
      <th scope="col">Length</th>
      <th scope="col">Beam</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; let i = index">
      <th scope="row">#{{ i + 1 }}</th>
      <td>{{ event.title }}</td>
      <td>{{ event.scale }}</td>
      <td>{{ event.state }}</td>
      <td>{{ event.start | date: 'dd/MM/yyyy' }}</td>
      <td>{{ event.end | date: 'dd/MM/yyyy' }}</td>
      <td>{{ event.start | date: 'HH:mm' }}</td>
      <td>{{ event.end | date: 'HH:mm' }}</td>
      <td *ngIf="event.bow" class="text-center">
        <i class="fas fa-arrow-alt-circle-left fa-2x"></i>
      </td>
      <td *ngIf="!event.bow" class="text-center">
        <i class="fas fa-arrow-alt-circle-right fa-2x"></i>
      </td>
      <td [ngStyle]="{ 'background-color': event.color.secondary }">
        {{ event.color.primary }}
      </td>
      <td>{{ event.regularLine }}</td>
      <td>{{ event.length }}</td>
      <td>{{ event.beam }}</td>
    </tr>
  </tbody>
</table> -->

<!-- FIN TABLA BOOTSTRAP -->
