h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.cal-current-time-marker {
  height: 3px;
  background: linear-gradient(270deg, #ec268d, #1f55dd);
  background-size: 400% 400%;
  animation: BackgroundFade 5s ease infinite;

  @keyframes BackgroundFade {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}

/* Material design table  */
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

tr.mat-header-row.ng-star-inserted {
  background-color: #0062cc;
}

th.thead-dark {
  color: white;
}
th.mat-header-cell {
  color: white;
}

td.m-5.mat-cell.cdk-column-state.mat-column-state.ng-star-inserted {
  padding: 5px;
}
